.overall-container{
    width: 100%;
    background-color: rgb(247, 247, 247);
    height: 100vh;
  }
  .card-headings{
      display: flex;
      width: 100%;
      .heading{
        margin: 0 25px 25px 0;
      }
  }
  .list-container{
    display: flex;
    width: 100%;
  }
  .card-container {
    min-width: 10px;
    max-width: 100%;
    // margin: 0 25px 25px 0;
    flex-grow:1;
    flex-basis: 0;
    vertical-align: top;
    position: relative;
  }
  
  .card-list {
    border: solid 1px rgb(247, 247, 247);
    min-height: 60px;
    // background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
    margin: 6px;
    margin-left: 20px;
  }
  
  .card-box {
    padding: 20px 10px;
    // border-left: solid 1px #ccc;
    // border-right: solid 1px #ccc;
    //border-bottom: solid 4px rgb(247, 247, 247);
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    margin-bottom: 4px;
    font-size: 14px;
    box-shadow: 0 0 1px 1px rgba(0,0,0,.05), 0 1px 2px -2px rgba(0,0,0,.06), 0 1px 3px 0 rgba(0,0,0,.07);
    //box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .card-box:last-child {
    // border: none;
  }
  
  .card-list.cdk-drop-list-dragging .card-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  body {
    background: #eff4f7;
    padding: 30px;
  }
  
  .breadcrumb-wrap {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #64768a;
    // border: 2px solid #d7dade;
    // border-radius: 5px;
  }
  
  .breadcrumb-title {
    font-size: 22px;
    padding: 10px 20px;
  }
  
  .breadcrumb {
    
    // overflow: hidden;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .breadcrumb div {
  // float: left;
  width:100%;
}


.breadcrumb div a {
  color: #64768a;
  text-decoration: none;
  // min-width:100px;
  // max-width:300px;
  padding: 20px 0px 20px 0px;
  background: #ffffff;
  position: absolute;
  display: block;
  //float: left;
  span{
    margin-left: 45px;
  }
}
.list-container .card-container:first-child .breadcrumb a span{
  margin-left:10px;
}

.breadcrumb div a:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 30px solid #ffffff;
  position: absolute;
  top: 85%;
  margin-top: -50px;
  left: 100%;
  z-index: 2;
}

.breadcrumb div a:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 30px solid #d7dade;
  position: absolute;
  top: 85%;
  margin-top: -50px;
  margin-left: 2px;
  left: 100%;
  z-index: 1;
}

.breadcrumb div:last-child a {
  background: #eff4f7;
  color: #64768a;
  cursor: default;
  position:relative;
  width:100%;
}

// .breadcrumb div:last-child a:hover {
//   background: #ffffff;
// }

.breadcrumb div:last-child a:after {
  border-left-color: #eff4f7;
}

// .breadcrumb div:last-child a:hover:after {
//   border-left-color: #ffffff;
// }

// .breadcrumb div a:hover {
//   background: #eef3f6;
// }

// .breadcrumb div a:hover:after {
//   border-left-color: #eef3f6;
// }