<div class="overall-container" cdkDropListGroup>
    <!-- <div class="example-headings">
        <h2 *ngFor="let list of lists" class="heading">{{ list.title }}</h2>
    </div> -->
    <div class="list-container">
        <div class="example-container" *ngFor="let list of lists">
            <h2>{{ list.title }}</h2>
            <div cdkDropList [cdkDropListData]="list.items" class="example-list" (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of list.items" cdkDrag>{{item}}</div>
            </div>
        </div>
    </div>


    <!-- <div class="example-container">
  
      <div
        cdkDropList
        [cdkDropListData]="done"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of done.items" cdkDrag>{{item}}</div>
      </div>
    </div>
    <div class="example-container">
  
      <div
        cdkDropList
        [cdkDropListData]="done1"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of done1.items" cdkDrag>{{item}}</div>
      </div>
    </div>
    <div class="example-container">
  
      <div
        cdkDropList
        [cdkDropListData]="done2"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of done2.items" cdkDrag>{{item}}</div>
      </div>
    </div>
    <div class="example-container">
  
      <div
        cdkDropList
        [cdkDropListData]="done3"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of done3.items" cdkDrag>{{item}}</div>
      </div>
    </div> -->
</div>


<!-- Copyright 2019 Google LLC. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->