<div class="board-mobile-component">
    <!-- <mat-tab-group  class="tab-group" [(selectedIndex)]="selectedIndex" (selectedIndexChange)="selectChange()">
        <mat-tab *ngFor="let list of data; let i = index" (swipeleft)="swipe(i+1, $event.type)" (swiperight)="swipe(i+1, $event.type)">
            <ng-template mat-tab-label>
                <div class="tab-heading">{{list.title}}</div>
              </ng-template>
            <div class="list-content" [ngClass]="list.title">
                <div class="deal" *ngFor="let deal of list.items">{{deal}}</div>
            </div>
        </mat-tab>
        
      </mat-tab-group> -->

    <owl-carousel-o [options]="customOptions" class="mobile-view">
        <ng-container *ngFor="let stage of data">
            <ng-template carouselSlide>
                <div class="carousel-item-container">
                    <div class="stage-heading">{{stage.title}}
                        <div class="stage-subheading">
                            {{stage.subtitle}}
                            <span class="dot">&#8226;</span>
                            {{stage.items.length}}
                        </div>
                    </div>
                    <div class="content">
                        <div class="deal" *ngFor="let deal of stage.items">
                            {{deal.dealTitle}}
                            <div class="deal-sub-details">
                                <div class="amount">{{deal.dealAmount}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ng-container>

    </owl-carousel-o>
</div>