.board-mobile-component {
    // .tab-group{
    //     .mat-tab-header{
    //         .mat-tab-header-pagination{
    //             display: none; // disable pagination
    //         }
    //         .mat-tab-label-container{
    //             .mat-tab-labels{
    //                 // background-color: rgb(220, 221, 221);
    //                 .mat-tab-label{
    //                     padding: 0px 12px;
    //                     .mat-tab-label-content{
    //                         width: 100%;
    //                         background-color: #DCDCDC;
    //                         border-bottom: 2px solid #A9A9A9;
    //                         height: 46px;
    //                         .tab-heading{
    //                             // background-color: rgb(220, 221, 221);
    //                             height: 50px;
    //                             color: #000000;
    //                             width: 100%;
    //                             padding: 10px;
    //                             display: inline-flex;
    //                             align-items: center;
    //                             text-transform: capitalize;
    //                         }
    //                     }
    //                 }
    //             }
    //             .mat-ink-bar{
    //                 background-color: #696969;
    //             }
    //         }
    //     }
    // }

    .mobile-view {
        .carousel-item-container {
            .stage-heading {
                background-color: rgb(247, 247, 247);
                color: #000000;
                font-size: 14px;
                padding: 14px 12px;
                font-weight: 500;
                text-transform: capitalize;
                .stage-subheading {
                    color: #696969;
                    font-size: 11px;
                    font-weight: 400;
                    margin-top: 4px;
                    display: flex;
                    .dot {
                        margin: 0 7px;
                        margin-top: 1px;
                        font-size: 10px;
                    }
                }
            }
            .content {
                // padding: 0 12px;
                height: calc(100vh - 50px);
                background-color: rgb(247, 247, 247);
                .deal {
                    padding: 14px 10px;
                    border-bottom: solid 1px #ccc;
                    color: rgba(0, 0, 0, 0.87);
                    box-sizing: border-box;
                    cursor: move;
                    background: white;
                    font-size: 14px;
                    .deal-sub-details {
                        color: #696969;
                        font-size: 11px;
                        font-weight: 400;
                        margin-top: 4px;
                        display: flex;
                    }
                }
            }
        }
    }
}
