.board-container{
    .board-desktop{
        display: block;
        @media (max-width: 768px) {
            display: none;
        }
    }
    .board-mobile{
        display: none;
        @media (max-width: 768px) {
            display: block;
        }
    }
}